{% extends 'navbar.html' %}

{% block title_block %} {{ title }} {% endblock %}
{% block css_block %}

{% endblock %}

{% block body_block %}
{% if search %}
    {% for user in result %}
    <div class="row">
        <div class="col-sm-2">
        {% if user.user_profile.profile_pic %}
        <img src="/media/{{user.user_profile.profile_pic}}" width="75px" height="75px" class="rounded-circle">
        {% else %}
        <img src="/media/default.png" width="75px" height="75px" class="rounded-circle">
        {% endif %}
        </div>
        <div class="col-sm-10">
            <a href="{% url 'App_Login:user' username=user.username %}">{{user.username}}</a>
            <br>
            {{user.user_profile.full_name}}
        </div>
    </div>
    <br>
    {% endfor %}
{% else %}
<div class="row">
    <div class="col-sm-8">
    
        {% for post in posts %}
            <div style="border: 1px solid #888888;">
                <div style="padding: 10px;">
                {% if post.author.user_profile.profile_pic %}
                <img src="/media/{{post.author.user_profile.profile_pic}}" width="40px" height="40px" class="rounded-circle">
                {% else %}
                <img src="/media/default.png" width="40px" height="40px" class="rounded-circle">
                {% endif %}
                <b><a href="{% url 'App_Login:user' username=post.author %}" style="color: black;">{{post.author}}</a></b>
                </div>
        
                <br>
                <img src="/media/{{post.image}}" width="100%">
                
                <div style="padding: 20px">
                    {% if post.pk in liked_post_list %}
                    <a href="{% url 'App_Posts:unliked' pk=post.pk %}"><i class="fa fa-heart" style="font-size:30px"></i></a>
                    {% else %}
                    <a href="{% url 'App_Posts:liked' pk=post.pk %}"><i class="fa fa-heart-o" style="font-size:30px"></i></a>
                    {% endif %}
                    
                    
                    
                    <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#ff">
                        <h6>{{post.liked_post.count}} Likes</h6>

                    </button>
                    
                      <div class="modal fade" id="ff">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Likes</h4>
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body">
                               <img src="/media/{{post.image}}" width="450px" height="400px">
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                    
                </div>
                <b>&nbsp;{{post.author}}</b>&nbsp;{{post.caption}}
                <br>
                <br>
            </div>
            <br>
            

    
        {% endfor %}
        
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-4">
            {% if user.user_profile.profile_pic %}
            <img src="/media/{{user.user_profile.profile_pic}}" width="75px" height="75px" class="rounded-circle">
            {% else %}
            <img src="/media/default.png" width="75px" height="75px" class="rounded-circle">
            {% endif %}
            </div>
            <div class="col-sm-8">
                {{user.username}}
                <br>
                {{user.user_profile.full_name}}
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}