<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title>InstaShohor -{% block title_block %}  {% endblock %}</title>
  
    {% block css_block %} 

    {% endblock %}
  
</head>
<body>  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'App_Posts:home' %}"><i style="font-family: Comic Sans MS;">Insta</i><b style="font-family: Courier New;">Shohor</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle btn-sm" data-toggle="dropdown">
              {% if user.user_profile.profile_pic %}
              <img src="/media/{{user.user_profile.profile_pic}}" width="30px" height="30px" class="rounded-circle">
              {% else %}
              <img src="/media/default.png" width="30px" height="30px" class="rounded-circle">
              {% endif %}
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'App_Login:profile' %}">Profile</a>
              <a class="dropdown-item" href="{% url 'App_Login:logout' %}">Logout</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </div>
         
        </li>
        
        
      </ul>
      <form method="GET" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="container" style="padding-top:30px">
    {% block body_block %}

    {% endblock %}
  </div>

</body>
</html>
